@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: #ddd0d0;
  color: white;
  text-align: center;
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Media queries are used to adjust the layout for smaller screens. */
@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}
